.popup {
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 12px;
    position: fixed;
    --modalWidth: 80%;
    width: var(--modalWidth);

    top: 70px;
    bottom: 100px;
    left: calc(50% - var(--modalWidth) / 2);
}

.battlebotCardContainer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    top: 70px;
    height: var(--modalHeight);
}
