@charset "UTF-8";

:root {
    --background-color: #f8fafc;
    --white: #ecf3fe;
    --navy: #1c3d6e;
    --grey: grey;
    --inverse: black;
    --text: #040911;
    --lightGrey: #ccc;
    --navHover: #282828;
    --reallyLightShadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --lightShadow: 0 4px 8px 2px rgba(27, 60, 109, 0.3);
    --heavyShadow: 0 4px 8px 0 rgba(27, 60, 109, 0.5);
}

[data-theme='dark'] {
    --background-color: #040911;
    --grey: #b0b0b0;
    --inverse: #e5e5e5;
    --lightGrey: #7a7a7a;
    --navHover: #333333;
    --text: #e2ebf8;
}

* {
    box-sizing: border-box;
    transition: background-color 0.2s;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    color: var(--text);
}

h1 {
    color: var(--navy);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: var(--navy);
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: var(--grey);
}

h5 {
    color: var(--grey);
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

a:link,
a:visited {
    text-decoration: none;
}

.textBlurb {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.page {
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: var(--navy);
    color: var(--white);
    padding: 15px 0;
    text-align: center;
}

.desc {
    text-align: center;
}

.default-img {
    height: auto;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
}

.container {
    padding: 0 16px;
}

/*---------------------------------------*/
/*-------------MEDIA QUERIES-------------*/
/*---------------------------------------*/
@media only screen and (min-width: 1800px) {
    .leaderCardContainer {
        grid-template-columns: auto auto auto;
    }
    #President {
        grid-area: 1/1/1/1;
    }
    #VicePresident {
        grid-area: 1/2/1/2;
    }
    #Treasurer {
        grid-area: 1/3/1/3;
    }
    #CurriculumPlanner {
        grid-area: 2/1/2/1;
    }
    #InternalCommunicationsCoordinator {
        grid-area: 2/2/2/2;
    }
    #ExternalCommunicationsCoordinator {
        grid-area: 2/3/2/3;
    }
}

@media only screen and (min-width: 1200px) {
    .projectCardContainer,
    /*.teamLeadCardContainer,       Only 3 teams right now*/
    .memberCardContainer,
    .battlebotCardContainer {
        grid-template-columns: auto auto auto;
    }
    .teamLeadCardContainer {
        grid-template-columns: auto auto auto;
    }
    .leaderCardContainer {
        grid-template-columns: auto auto;
    }
    #President {
        grid-area: 1/1/1/1;
    }
    #VicePresident {
        grid-area: 1/2/1/2;
    }
    #Treasurer {
        grid-area: 2/1/2/1;
    }
    #CurriculumPlanner {
        grid-area: 2/2/2/2;
    }
    #InternalCommunicationsCoordinator {
        grid-area: 3/1/3/1;
    }
    #ExternalCommunicationsCoordinator {
        grid-area: 3/2/3/2;
    }
}
@media only screen and (max-width: 1200px) {
    .projectCardContainer,
    .teamLeadCardContainer,
    .memberCardContainer,
    .battlebotCardContainer {
        grid-template-columns: auto auto auto;
    }
    .leaderCardContainer {
        grid-template-columns: auto;
    }
    #prevSemesters {
        margin-left: 10%;
        margin-right: 10%;
    }
    #nextSemesters {
        border-radius: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    #President {
        grid-area: 1/1/1/1;
    }
    #VicePresident {
        grid-area: 2/1/2/1;
    }
    #Treasurer {
        grid-area: 3/1/3/1;
    }
    #CurriculumPlanner {
        grid-area: 4/1/4/1;
    }
    #InternalCommunicationsCoordinator {
        grid-area: 5/1/5/1;
    }
    #ExternalCommunicationsCoordinator {
        grid-area: 6/1/6/1;
    }
}
@media only screen and (max-width: 1050px) {
    #AboutUs {
        width: 100%;
    }
    #carousel-button {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .projectCardContainer,
    .teamLeadCardContainer,
    .memberCardContainer,
    .battlebotCardContainer {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 800px) {
    #prevSemesters {
        margin-left: 5%;
        margin-right: 5%;
    }
    #nextSemesters {
        margin-left: 5%;
        margin-right: 5%;
    }
    .sponsorimgs {
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px) {
    .battlebotSeasonCardContainer {
        grid-template-columns: auto auto;
    }
    .battlebotThisSeasonCardContainer {
        grid-template-columns: auto auto;
    }

    .battlebotCardContainer {
        grid-template-columns: auto;
    }
    #prevSemesters {
        margin-left: 20%;
        margin-right: 20%;
    }
    #nextSemesters {
        margin-left: 20%;
        margin-right: 20%;
    }
    #carouselIMG {
        max-width: 100%;
        height: auto;
    }
    .leaderCard {
        box-shadow: var(--heavyShadow);
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .leaderCardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .projectCardContainer,
    .memberCardContainer,
    .battlebotCardContainer {
        grid-template-columns: auto;
    }
    .teamLeadCardContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #prevSemesters {
        margin-left: 10%;
        margin-right: 10%;
    }
    #nextSemesters {
        margin-left: 10%;
        margin-right: 10%;
    }
    #DiscordWidget {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .leaderCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .leaderCardInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 400px) {
    .battlebotSeasonCardContainer {
        grid-template-columns: auto;
    }
    .battlebotThisSeasonCardContainer {
        grid-template-columns: auto;
    }
    #prevSemesters {
        margin-left: 20%;
        margin-right: 20%;
    }
    #nextSemesters {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.clipping-container {
    position: relative;
    border: 1px solid #aaa;
    margin-bottom: 12px;
    padding: 12px;
    width: 100%;
    overflow: hidden;
}

.modal {
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 12px;
    position: fixed;
    --modalWidth: 80%;
    width: var(--modalWidth);
    --modalHeight: 80%;
    height: var(--modalHeight);
    top: 70px;
    bottom: 300px;
    left: calc(50% - var(--modalWidth) / 2);
}

.closeButton {
    color: var(--navy);
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 10px;
    float: right;
}
